@use '../../styles/variables/colors'
@use '../../styles/variables/font-sizes'
@use '../../styles/variables/breakpoints'

.MainPage
  display: flex
  align-items: center
  justify-content: center
  min-height: 600px
  max-width: 1110px
  width: calc(100% - 20px*2)
  margin-top: 80px
  background-color: colors.$secondary
  border-radius: 50px
  border: 10px solid colors.$white
  overflow: hidden
  height: 100%

.gameWindow
  display: flex
  width: 100%
  height: 600px

.gameWindow__interface
  display: flex
  width: 100%

.gameWindow__phrases
  display: flex
  flex-direction: column
  max-width: calc(100% - 380px)
  min-width: 300px
  width: 100%
  justify-content: flex-start
  margin-left: 55px

.gameWindow__phrase
  color: colors.$primary
  margin-top: 50px
  max-width: 600px
  width: 100%
  height: 200px
  background-color: colors.$white
  border: 1px solid colors.$primary
  border-radius: 4px
  box-shadow: 4px 4px 0 colors.$primary
  overflow: scroll

.gameWindow__answers
  display: flex
  flex-wrap: wrap
  max-width: 600px
  justify-content: space-between

.gameWindow__nextButton
  display: flex
  max-width: 600px
  justify-self: flex-start
  justify-content: center
  width: 100%
  margin-top: 40px

.gameWindow__stats
  display: flex
  flex-direction: column
  background-color: colors.$accent
  max-width: 380px
  width: 100%
  height: 100%
  align-self: flex-end

.gameWindow__points
  color: colors.$white
  display: flex
  font-family: "Inconsolata", Arial, sans-serif
  font-weight: bold
  font-size: font-sizes.$points
  align-self: center
  margin-top: 50px


.gameWindow__lives
  display: flex
  margin-top: 60px
  justify-content: center

.gameWindow__loading
  display: flex
  flex-direction: column
  max-width: calc(100% - 380px)
  min-width: 300px
  width: 100%
  justify-content: center
  text-align: center
  margin-left: 55px


@media (max-width: breakpoints.$mobile)
  .MainPage
    max-width: 320px
    width: calc(100% - 10px*2)
    margin-top: 20px
    overflow: scroll
    align-items: flex-start

  .MainPage__startButton
    align-self: center

  .gameWindow
    overflow: scroll
    height: 100%

  .gameWindow__interface
    flex-direction: column-reverse

  .gameWindow__stats
    display: flex
    height: 50px
    overflow: hidden
    flex-direction: row
    flex-wrap: wrap
    align-content: center
    justify-content: flex-start
    width: 100%

  .gameWindow__points
    font-size: font-sizes.$points-small
    align-self: center
    margin-top: 0
    margin-left: 30px
    justify-self: flex-start

  .gameWindow__lives
    margin-top: 0
    margin-left: 30px
    justify-self: center

  .gameWindow__phrase
    margin-top: 0
    width: 280px
    align-self: center
    max-width: 800px
    height: 180px

  .gameWindow__phrases
    margin-top: 20px
    margin-left: 10px

  .gameWindow__answers
    justify-content: center
    margin-top: 10px
    margin-bottom: 10px

  .gameWindow__nextButton
    margin-bottom: 30px

  .gameWindow__loading
    margin: 0